aside {
    background: rgb(235, 235, 235);
    height: 100vh;
}

#dashboard {
    padding-left: 5vh;
    padding-top: 3vh;
}

.card {
    width: 100vh;
}

.delete-btn {
    position: absolute;
    right: 20px;
}