aside {
    background: rgb(235, 235, 235);
    height: 100vh;
}

#dashboard {
    padding-left: 5vh;
    padding-top: 3vh;
}

#weather-display {
    width: 100vh;
    background: linear-gradient(rgba(149,227,255,1) 0%, rgba(255,255,255,1) 100%);
}

.delete-btn {
    position: absolute;
    right: 20px;
}

.list-group-item:hover {
    background-color: rgb(239, 254, 255);
}

#five-day .card-body {
    background: linear-gradient(rgba(149,227,255,1) 0%, rgba(255,255,255,1) 100%);
}

@media only screen and (max-width: 768px) {
    aside {
        height: auto;
    }
}