:root {
    --bg: #ffffff;
    --bg-panel: #f0f0f0;
    --bg-accent: #dfdfdf;
    --color-primary: #000000;
    --color-secondary: #4f4f4f;
    --font-family: 'Roboto', sans-serif;

    --gradient-light: rgba(63,94,251,1);
    --gradient-dark: rgba(252,70,107,1);

    --gradient-thunderstorm-light: rgba(35,37,38,1);
    --gradient-thunderstorm-dark: rgba(65,67,69,1);
    
    --gradient-drizzle-light: rgba(174,194,201,1);
    --gradient-drizzle-dark: rgba(83,120,149,1);

    --gradient-rain-light: rgba(1,87,155,1);
    --gradient-rain-dark: rgba(48,63,159,1);

    --gradient-snow-light: rgba(227,242,253,1);
    --gradient-snow-dark: rgba(144,202,249,1);

    --gradient-clear-light: rgba(38,198,218,1);
    --gradient-clear-dark: rgba(30,136,229,1);

    --gradient-clouds-light: rgba(135,206,235,1);
    --gradient-clouds-dark: rgba(70,130,180,1);
}

.dark-theme {
    --bg: #121212;
    --bg-panel: #1d1d1d;
    --bg-accent: #292929;
    --color-primary: #ffffff;
    --color-secondary: #bdbdbd;
    
    --gradient-light: rgba(42,42,42,1);
    --gradient-dark: rgba(63,94,251,1);

    --gradient-thunderstorm-light: rgba(25,27,28,1);
    --gradient-thunderstorm-dark: rgba(35,37,38,1);
    
    --gradient-drizzle-light: rgba(124,144,151,1);
    --gradient-drizzle-dark: rgba(43,80,109,1);

    --gradient-rain-light: rgba(0,47,95,1);
    --gradient-rain-dark: rgba(28,43,109,1);

    --gradient-snow-light: rgba(127,142,153,1);
    --gradient-snow-dark: rgba(94,152,199,1);

    --gradient-clear-light: rgba(18,98,118,1);
    --gradient-clear-dark: rgba(10,86,159,1);

    --gradient-clouds-light: rgba(25,25,112,1);
    --gradient-clouds-dark: rgba(0,0,128,1);
}


.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-labels {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    line-height: 1.2;
}

.theme-labels .light-theme, .theme-labels .dark-theme {
    color: grey;
    font-weight: 300;
}

body:not(.dark-theme) .light-theme,
body.dark-theme .dark-theme {
    color: white;
    font-weight: 500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


body {
    background-color: var(--bg);
    color: var(--color-primary);
    font-family: var(--font-family);
}

.panel {
    background-color: var(--bg-panel);
}

aside {
    background: var(--bg-panel);
    height: 100vh;
}

.card {
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.4);
}

#five-day .card {
    box-shadow: 15px 10px 20px 0px rgba(0, 0, 0, 0.329);
    margin-right: auto !important;
    margin-left: auto;
    padding: 5px 25px;
    border-radius: 15px;
}

#dashboard {
    padding-left: 5vh;
    padding-right: 7vh;
    padding-top: 3vh;
    background: linear-gradient(45deg, var(--gradient-light), var(--gradient-dark)); /* Background of the main weather section */
    color: white; /* Text color */
}

#weather-display {
    padding: 2%;
    width: auto;
}

#weather-display.card {
    border: 2px solid rgba(255,255,255,0.65);
    border-radius: 12px;
}

.delete-btn {
    position: absolute;
    right: 20px;
    color: var(--color-primary);
}

.list-group-item {
    background-color: var(--bg);
}

.list-group-item:hover {
    background-color: var(--bg-accent);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    aside {
        height: auto;
    }
}