:root {
    --bg: #ffffff;
    --bg-panel: #f0f0f0;
    --color-primary: #000000;
    --color-secondary: #4f4f4f;
    --font-family: 'Roboto', sans-serif;
    --gradient-light: rgba(63,94,251,1);
    --gradient-dark: rgba(252,70,107,1);
}

.dark-theme {
    --bg: #121212;
    --bg-panel: #1d1d1d;
    --color-primary: #ffffff;
    --color-secondary: #bdbdbd;
    --gradient-light: rgba(252,70,107,1);
    --gradient-dark: rgba(63,94,251,1);
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-labels {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    line-height: 1.2;
}

.theme-labels .light-theme, .theme-labels .dark-theme {
    color: grey;
    font-weight: 300;
}

body:not(.dark-theme) .light-theme,
body.dark-theme .dark-theme {
    color: white;
    font-weight: 500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


body {
    background-color: var(--bg);
    color: var(--color-primary);
    font-family: var(--font-family);
}

.panel {
    background-color: var(--bg-panel);
}

aside {
    background: var(--bg-panel);
    height: 100vh;
}

#dashboard {
    padding-left: 5vh;
    padding-top: 3vh;
}

#weather-display {
    width: 100vh;
    background: linear-gradient(45deg, var(--gradient-light), var(--gradient-dark));
}

.delete-btn {
    position: absolute;
    right: 20px;
    color: var(--color-primary);
}

.list-group-item:hover {
    background-color: #262626;
}

#five-day .card-body {
    background: linear-gradient(45deg, var(--gradient-light), var(--gradient-dark));
}

@media only screen and (max-width: 768px) {
    aside {
        height: auto;
    }
}